*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body
{
    background-color: indigo;
}
.website
{
    width: 1018px;
    height: 764px;
    margin: 100px auto;
    background-color: #ffff;
    position: relative;
}
header
{
    width: 1018px;
    height: 57px;
}
header h1
{
    margin-left: 120px;
    margin-top: -50px;
    margin-left: 80px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
header img
{
    width: 80px;
    margin-top: -10px;
}
.ahref
{
    width: max-content;
    height: max-content;
    margin-left: 300px;
    margin-top: -40px;
}
a
{
    text-decoration: none;
    color: black;
    float: left;
    margin: 10px;
    font-family: sans-serif;
}
a:hover
{
    color: green;
}
.yozuv
{
    width: max-content;
    height: auto;
    margin-left: 800px;
    margin-top: 10px;
}
.content
{
    width: 1018px;
    height: 476px;
    background-color: green;
    background-image: url(../pictures/Talking-with-green-personalities-768x436.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
.content h1
{
    padding: 60px;
    margin-top: 150px;
    color: lawngreen;
    font-family: sans-serif;
}
.content h1 span
{
    color: #ffff;
}
.content p
{
    margin-left: 50px;
    width: max-content;
    height: max-content;
    color:  #7FCA6D;
}
.content a
{
    background-color: blue;
    margin-left: 60px;
    padding: 7px;
    border-radius: 3px;
    text-decoration: none;
    color: #ffff;
}

/* === Cards Section === */
.cards-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    bottom: 0;
    background-color: #fff;
    border-top: 2px solid #ddd;
}

.card {
    width: 200px;
    height: 100px;
    background-color: #fff;
    text-align: center;
    border: 1px solid #eee;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.05);
    padding: 10px;
    transition: 0.3s ease;
}

.card i {
    font-size: 28px;
    color: #3c3c3c;
    margin-bottom: 10px;
}

.card h3 {
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    color: #000;
    margin-bottom: 5px;
}

.card p {
    font-size: 11px;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}
